@mixin placeholder() {
  &::-webkit-input-placeholder { color:transparent; }
  &:-moz-placeholder { color:transparent; } /* FF 4-18 */
  &::-moz-placeholder { color:transparent; } /* FF 19+ */
  &:-ms-input-placeholder { color:transparent; } /* IE 10+ */
}