:root {
    --main-color: #CF8802;
    --main-color-dark: #824C27;
    --grey: #F2F2F2;
    --light-grey: #F8F8F8;
    --hover-grey: #F9F9F9;
    --dark-grey: rgba(0, 0, 0, 0.54);
    --text-dark: rgba(0, 0, 0, 0.87);
}
