@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'Futura New';
    src: url('assets/fonts/FuturaNewMedium-Obl.eot');
    src: local('Futura New Medium Obl'), local('FuturaNewMedium-Obl'),
    url('assets/fonts/FuturaNewMedium-Obl.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FuturaNewMedium-Obl.woff2') format('woff2'),
    url('assets/fonts/FuturaNewMedium-Obl.woff') format('woff'),
    url('assets/fonts/FuturaNewMedium-Obl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New Demi';
    src: url('assets/fonts/FuturaNewDemi-Obl.eot');
    src: local('Futura New Demi Obl'), local('FuturaNewDemi-Obl'),
    url('assets/fonts/FuturaNewDemi-Obl.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FuturaNewDemi-Obl.woff2') format('woff2'),
    url('assets/fonts/FuturaNewDemi-Obl.woff') format('woff'),
    url('assets/fonts/FuturaNewDemi-Obl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New';
    src: url('assets/fonts/FuturaNewMedium-Reg.eot');
    src: local('Futura New Medium Reg'), local('FuturaNewMedium-Reg'),
    url('assets/fonts/FuturaNewMedium-Reg.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FuturaNewMedium-Reg.woff2') format('woff2'),
    url('assets/fonts/FuturaNewMedium-Reg.woff') format('woff'),
    url('assets/fonts/FuturaNewMedium-Reg.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('assets/fonts/FuturaNewHeavy-Reg.eot');
    src: local('Futura New Heavy Reg'), local('FuturaNewHeavy-Reg'),
    url('assets/fonts/FuturaNewHeavy-Reg.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FuturaNewHeavy-Reg.woff2') format('woff2'),
    url('assets/fonts/FuturaNewHeavy-Reg.woff') format('woff'),
    url('assets/fonts/FuturaNewHeavy-Reg.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('assets/fonts/FuturaNewLight-Obl.eot');
    src: local('Futura New Light Obl'), local('FuturaNewLight-Obl'),
    url('assets/fonts/FuturaNewLight-Obl.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FuturaNewLight-Obl.woff2') format('woff2'),
    url('assets/fonts/FuturaNewLight-Obl.woff') format('woff'),
    url('assets/fonts/FuturaNewLight-Obl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New Book';
    src: url('assets/fonts/FuturaNewBook-Obl.eot');
    src: local('Futura New Book Obl'), local('FuturaNewBook-Obl'),
    url('assets/fonts/FuturaNewBook-Obl.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FuturaNewBook-Obl.woff2') format('woff2'),
    url('assets/fonts/FuturaNewBook-Obl.woff') format('woff'),
    url('assets/fonts/FuturaNewBook-Obl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New';
    src: url('assets/fonts/FuturaNewExtraBold-Obl.eot');
    src: local('Futura New ExtraBold Obl'), local('FuturaNewExtraBold-Obl'),
    url('assets/fonts/FuturaNewExtraBold-Obl.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FuturaNewExtraBold-Obl.woff2') format('woff2'),
    url('assets/fonts/FuturaNewExtraBold-Obl.woff') format('woff'),
    url('assets/fonts/FuturaNewExtraBold-Obl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New Book';
    src: url('assets/fonts/FuturaNewBook-Reg.eot');
    src: local('Futura New Book Reg'), local('FuturaNewBook-Reg'),
    url('assets/fonts/FuturaNewBook-Reg.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FuturaNewBook-Reg.woff2') format('woff2'),
    url('assets/fonts/FuturaNewBook-Reg.woff') format('woff'),
    url('assets/fonts/FuturaNewBook-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('assets/fonts/FuturaNewBold-Obl.eot');
    src: local('Futura New Bold Obl'), local('FuturaNewBold-Obl'),
    url('assets/fonts/FuturaNewBold-Obl.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FuturaNewBold-Obl.woff2') format('woff2'),
    url('assets/fonts/FuturaNewBold-Obl.woff') format('woff'),
    url('assets/fonts/FuturaNewBold-Obl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New';
    src: url('assets/fonts/FuturaNewExtraBold-Reg.eot');
    src: local('Futura New ExtraBold Reg'), local('FuturaNewExtraBold-Reg'),
    url('assets/fonts/FuturaNewExtraBold-Reg.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FuturaNewExtraBold-Reg.woff2') format('woff2'),
    url('assets/fonts/FuturaNewExtraBold-Reg.woff') format('woff'),
    url('assets/fonts/FuturaNewExtraBold-Reg.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('assets/fonts/FuturaNewLight-Reg.eot');
    src: local('Futura New Light Reg'), local('FuturaNewLight-Reg'),
    url('assets/fonts/FuturaNewLight-Reg.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FuturaNewLight-Reg.woff2') format('woff2'),
    url('assets/fonts/FuturaNewLight-Reg.woff') format('woff'),
    url('assets/fonts/FuturaNewLight-Reg.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New Demi';
    src: url('assets/fonts/FuturaNewDemi-Reg.eot');
    src: local('Futura New Demi Reg'), local('FuturaNewDemi-Reg'),
    url('assets/fonts/FuturaNewDemi-Reg.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FuturaNewDemi-Reg.woff2') format('woff2'),
    url('assets/fonts/FuturaNewDemi-Reg.woff') format('woff'),
    url('assets/fonts/FuturaNewDemi-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('assets/fonts/FuturaNewBold-Reg.eot');
    src: local('Futura New Bold Reg'), local('FuturaNewBold-Reg'),
    url('assets/fonts/FuturaNewBold-Reg.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FuturaNewBold-Reg.woff2') format('woff2'),
    url('assets/fonts/FuturaNewBold-Reg.woff') format('woff'),
    url('assets/fonts/FuturaNewBold-Reg.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('assets/fonts/FuturaNewHeavy-Obl.eot');
    src: local('Futura New Heavy Obl'), local('FuturaNewHeavy-Obl'),
    url('assets/fonts/FuturaNewHeavy-Obl.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FuturaNewHeavy-Obl.woff2') format('woff2'),
    url('assets/fonts/FuturaNewHeavy-Obl.woff') format('woff'),
    url('assets/fonts/FuturaNewHeavy-Obl.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

