* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
}

.specialists .swiper-slide {
  transform: scale(0.8) !important;
}

.specialists .swiper-slide.swiper-slide-active {
  transform: scale(1) !important;
}


@media (max-width: 1536px) {
  .container {
    max-width: 1160px;
  }
}

@media (max-width: 640px) {
  html, body {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  .container {
    max-width: 320px;
  }

  .specialists .swiper-slide {
    transform: scale(1) !important;
  }
}
