
@import "fonts", "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height:100%;
}

.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin: 0 120px;
}

a { text-decoration: none; }

@media (max-width: 1440px) {
  .container {
   margin: 0 60px;
  }
}

@media (max-width: 640px) {
  html, body {
    overflow-x: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .container {
    margin: 0 20px;
  }
}