* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

@media (max-width: 1536px) {
  .container {
    max-width: 1160px;
  }
}

@media (max-width: 640px) {
  html, body {
    overflow-x: hidden;
    -ms-overflow-style: none; /* for Internet Explorer and Edge */
    scrollbar-width: none; /* for Firefox */
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  .container {
    max-width: 320px;
  }
}
